p{
    font-family: serif;
    box-sizing: border-box;
    text-align: left;
    padding: 100px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 10px;
    width: 250px;

}
.banderayellow{
    background: #ffc107;
    color: black;
}
.banderablack{
    background: #333333;
    color: white;
}